@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: #FFF8DE;
    background-size: 1300px 800px;
    background-position: center center;
}

#title h1{
    color: black; 
    font-family: 'GmarketSansMedium';
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    text-shadow: #4B504B;
    margin-top: 30px;
  }

.section img{
    height: 900px;
    width: 700px;
}

.section h2{
    font-family: 'GmarketSansMedium';
    font-size: 30px;
    font-weight: 500;
}
.section input{
    font-family: 'GmarketSansMedium';
    font-size: 20px;
    font-weight: 500;
    width: 400px;
    height: 40px;
    margin-top: 50px;
    text-align: center;
}

.section button{
    background-color: #4B504B;
    color: white;
    border: none;
    text-align: center;
    display: inline-block;
    font-family: 'GmarketSansMedium';
    font-size: 20px;
    width: 400px;
    height: 40px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 200px;
    border-radius: 13px;
}

.section submit{
    background-color: #4B504B;
    color: white;
    border: none;
    text-align: center;
    display: inline-block;
    font-family: 'GmarketSansMedium';
    font-size: 20px;
    width: 400px;
    height: 40px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 30px;
    border-radius: 13px;
}

.container {
    display: flex;
}
.section {
    flex-grow: 1;
    padding: 20px;
}


