@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#body{
    background-color: #FFF8DE;
    background-size: 100% auto;
    background-position: center;
}

nav { background: #FFF8DE;
    display: flex;}

nav > a{
    font-size: 20px;
    font-family: 'GmarketSansMedium';
    margin-top: 17px;
    justify-content: right;
    text-align: right;

}

nav ul {
    font-size: 0;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    position: relative;

}

nav ul li a {
    color: black;
    display: block;
    font-size: 22px;
    padding: 15px 14px;
    transition: 0.3s linear;
    font-family: 'GmarketSansMedium';
    text-decoration-line: none;
}

nav ul li:hover a {
    color: black;
}

nav ul li ul {
    border-bottom: 5px #cccccc;
    display: none;
    position: absolute;
    width: 150px;
}

nav ul li ul li {
    border-top: 1px #cccccc;
    display: block;}

nav ul li ul li:first-child { border-top: none; }

nav ul li ul li a {
    background: #cccccc;
    color: black;
    display: block;
    padding: 10px 14px;
    font-family: 'GmarketSansMedium';
}

nav ul li ul li a:hover { background: #FFF8DE; color: black;}

nav .fa.fa-angle-down { margin-left: 6px; }

#title h1{
    font-family: 'GmarketSansMedium';
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
}

.searchbox {
    font-family: 'GmarketSansMedium';
    font-size: 20px;
    font-weight: 500;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

#mySearchBox {
	height: 2rem;
	width: 50%;
	margin-right: 15px;
	border: none !important;
	padding: 5px !important;
	border-bottom: 1px solid #cccccc !important;
	outline: none;
	background-color: #ffffff !important;
    font-family: 'GmarketSansMedium';
    font-size: 20px;
    font-weight: 500;
}

.searchboxlabel {
    color: #fff;
    background-color: #464646;
    text-align: center;
    border-radius: 1em;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 5px;
    font-family: 'GmarketSansMedium';
    font-size: 20px;
    font-weight: 500;
}

.functionname {
    float: left;
    flex: 1;
    align-items: center;
}

.functionsummary {
    float: left;
    flex: 2;
    display: flex;
    align-items: center;
}


.namebox {
    padding-right: 10px;
    margin-bottom: 45px;
    transform: translateY(50%);
}

.namebox a {
    text-decoration: none;
    font-family: 'GmarketSansMedium';
    font-size: 25px;
    font-weight: bold;
}

.summarybox {
    padding-left: 10px;
    margin-bottom: 45px;
    transform: translateY(50%);
}


.name-box a:hover{
    text-decoration: underline;
}

.functionlistitem {
    display: flex;
    align-items: center;
    border-bottom: 3px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#functionListBox ol{
    list-style: none;
    margin: 30px;
}

#functionListBox{
    display: flex;
    justify-content: center;
}

.functionCat {
    font-weight: bold;
    font-family: GmarketSansMedium;
    font-size: 20px;
}

.functionDesc {
    font-family: GmarketSansMedium;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    .function-vars, .function-summary, .function-name {
        width: 100%;
        margin-top: 5px;
    }

    .search-box-label {
        display: none;
    }

    #function-list-box ol{
        margin: 10px;
    }

    .function-search-field {
        width: 80%;

    }
}
